<%- include('header.ejs') %>




    <div class="container-fluid">

        <div class="container">
            <h2>Assign Task</h2>
        </div>

        <div class="container bg-light mt-5">
            <div class="container pt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>DeadLine</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(215, 215, 215);">
                        <tr>
                            <td>
                                <%= result.title %>
                            </td>
                            <td>
                                <%=result.description %>
                            </td>
                            <td>
                                <%=result.date %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="g-3 m-auto p-5" style="margin-bottom: 30px;"
                action="/organization/<%=paramOrg%>/tasks/<%=paramTask%>/assign_task/<%=result.title%>-<%=result.taskId%>"
                method="post" enctype="multipart/form-data">
                <div class="col-md-4 m-auto">
                    <label for="inputState" class="form-label">Select Department</label>
                    <select class="form-select" id="assign_taskDep" name="department">
                        <% depResult.forEach(element=>{ %>
                            <option value="<%= element.depTitle%>">
                                <%= element.depTitle%>
                            </option>

                            <% }) %>
                    </select>
                </div>

                <div class="col-md-4 m-auto" id="assignTaskDiv">
                    <label for="inputState" class="form-label">User</label>
                    <select class="form-select" id="assign_taskUser" name="user">
                        <option value="User Name">User Name</option>
                    </select>
                    <input type="hidden" name="hiddenInput" id="hiddenInput">
                    <input type="hidden" name="organizationOfuser" id="organizationOfuser">
                    <input type="hidden" name="departmentOfUser" id="departmentOfUser">
                </div>
                <div class="col-md-4 m-auto">
                    <label for="inputState" class="form-label">Remarks</label>
                    <textarea name="remarks" placeholder="Some Special Character Are Not Allowed" class="form-control"
                        cols="30" rows="3"></textarea>
                </div>

                <div class="col-md-4 m-auto">
                    <label for="" class="form-label"></label>
                    <input type="file" class="form-control" name="assignTaskFile">
                </div>

                <div class="col-md-4 m-auto mt-2">
                    <button type="submit" class="btn btn-primary">Assign</button>
                </div>
            </form>
        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script>

        const socket = io('http://localhost:3000');
        const assign_taskDep = document.getElementById("assign_taskDep");
        const assign_taskUser = document.getElementById("assign_taskUser");
        const userEmail = document.getElementById("userEmail");
        const hiddenInput = document.getElementById("hiddentInput");
        const organizationOfuser = document.getElementById("organizationOfuser");
        const departmentOfUser = document.getElementById("departmentOfUser");

        assign_taskDep.addEventListener("change", () => {
            socket.emit("data from assign task", assign_taskDep.value);
            console.log("assign Task Value: ", assign_taskDep.value);
            assign_taskUser.innerHTML = "";
        });

        socket.on("data to assign task", (data) => {
            var emptyOption = document.createElement("option");
            emptyOption.innerHTML = "CHOSE";
            assign_taskUser.appendChild(emptyOption);
            data.forEach((element) => {
                var option = $("<option>").attr("value", element.name + ":" + element.email ).html(element.name + ": ");
                var para = $("<p>").html(element.email);
               

                
                console.log(option.val());
                // option.value = element.name;
                // option.innerHTML = element.name + ": ";


                // assign_taskUser.appendChild(option);
                $("#assign_taskUser").append(option);
                $(option).append(para);
               
            });
        });
        
        assign_taskUser.addEventListener("change", function(){
            socket.emit("assign task user", assign_taskUser.value)
        });

        socket.on("user data to assign task", (data)=>{
            console.log("user Organization", data[0].organization);
            organizationOfuser.value = data[0].organization;
            if(data[0].department){
                departmentOfUser.value = data[0].department;
            }
        })
        

    </script>
    <%- include('footer.ejs') %>