<%- include('header.ejs') %>




    <main>

        <div class="container">
            <h2>Assign Task</h2>
        </div>

        <div class="container bg-light mt-5">
            <div class="container pt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>DeadLine</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(215, 215, 215);">
                        <tr>
                            <td>
                                <%= result.title %>
                            </td>
                            <td>
                                <%=result.description %>
                            </td>
                            <td>
                                <%=result.date %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="g-3 m-auto p-5" style="margin-bottom: 30px;" action="/assign_task/<%=result.title%>-<%=result.taskId%>" method="post"
                enctype="multipart/form-data">
                <div class="col-md-4 m-auto">
                    <label for="inputState" class="form-label">Select Department</label>
                    <select class="form-select" id="assign_taskDep" name="department">
                        <% depResult.forEach(element=>{ %>
                            <option value="<%= element.depTitle%>">
                                <%= element.depTitle%>
                            </option>

                            <% }) %>
                    </select>
                </div>

                <div class="col-md-4 m-auto">
                    <label for="inputState" class="form-label">User</label>
                    <select class="form-select" id="assign_taskUser" name="user">
                        <option value="User Name">User Name</option>
                    </select>
                </div>
                <div class="col-md-4 m-auto">
                    <label for="inputState" class="form-label">Remarks</label>
                    <textarea name="remarks" placeholder="Some Special Character Are Not Allowed" class="form-control"
                        cols="30" rows="3"></textarea>
                </div>

                <div class="col-md-4 m-auto">
                    <label for="" class="form-label"></label>
                    <input type="file" class="form-control" name="assignTaskImage">
                </div>

                <div class="col-md-4 m-auto mt-2">
                    <button type="submit" class="btn btn-primary" onclick="sendDataToServer()">Assign</button>
                </div>
            </form>
        </div>

    </main>


    <script>
        const socket = io('http://localhost:5000');
        const assign_taskDep = document.getElementById("assign_taskDep");
        const assign_taskUser = document.getElementById("assign_taskUser");
        assign_taskDep.addEventListener("change", () => {
            socket.emit("data from assign task", assign_taskDep.value);
            assign_taskUser.innerHTML = "";
        });

        socket.on("data to assign task", (data) => {
            data.forEach((element) => {
                var option = document.createElement("option");
                option.value = element.name;
                option.innerHTML = element.name;
                assign_taskUser.appendChild(option)
            });
        });

        // function sendDataToServer() {
        //     var tableData = {
        //         title: "<%= result.title %>",
        //         description: "<%= result.description %>",
        //         date: "<%= result.date %>"
        //     };

        //     fetch('/assign_task/<%=result.title%>-<%=result.taskId%>', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(tableData)
        //     })
        //         .then(response => {
        //             // Handle response from server if needed
        //         })
        //         .catch(error => {
        //             console.error('Error:', error);
        //         });
        // }
    </script>








    <%- include('footer.ejs') %>