<%- include('header.ejs') %>



<main>
    <div class="parant w-50 m-auto">
        <% result.forEach((element, index)=>{ %>

        
        <div class="cd-timeline-block m-5 bg-light p-3">
            <div class="cd-timeline-img cd-warning">
                <i class=""> <%= index + 1 %> </i>
            </div>
            <div class="cd-timeline-content">
                <span> <b style="color: #5d9cec;">Description : </b>
                    <%= element.description %>
                </span>
                <hr>
                <span> <b style="color: #5d9cec;">Initiated By : </b> <%= element.initiated_by %> </span>
                <br>
                <b style="font-size:15px; color: #5d9cec;">On Date Time: </b><%= element.on_date_time  %>
                <br>
                <span> <b style="color: #5d9cec;"> Assign To : </b> <%= element.assigned_to  %> </span>
                <br>
                <span> <b style="color: #dc3545;"> Dead Line : </b><%= element.deadline   %></span>
                <br>
                <span> <b style="color: #5d9cec;"> Remarks : </b><%= element.remarks  %></span>
                <br>
                <br>
                <br>
                <span> <b style="color: #5d9cec;"> Note : </b></span>
                <br>
                <span> <b style="color: #5d9cec;"> Current Status : </b></span>
                <span class="label label-primary" style="width:40%;"><%= element.current_status  %></span>
                <span class="cd-date">
                </span>
            </div>
        </div>

    <% }) %>

        <!-- <div class="cd-timeline-block">

            <div class="cd-timeline-content">
                <span> <b style="color: #5d9cec;">Description : </b></span>P&amp;DD SDU has requested subject data
                for senate standing committee by 13/10/2021. Letters and reminder already sent.
                <hr>
                <span> <b style="color: #5d9cec;">Initiated By : </b></span>Muhammad Zubair
                <br>
                <b style="font-size:15px; color: #5d9cec;">On Date Time: </b>12th October 2021 on Tuesday 12:22pm
                <br>
                <span> <b style="color: #5d9cec;"> Assign To : </b></span>Engr Muhammad Naeem Khan
                <br>
                <span> <b style="color: #dc3545;"> Dead Line : </b></span>2021-10-13
                <br>
                <span> <b style="color: #5d9cec;"> Remarks : </b></span>noted sir.
                <br>
                <br>
                <br>
                <span> <b style="color: #5d9cec;"> Note : </b></span>
                <br>
                <span> <b style="color: #5d9cec;"> Current Status : </b></span>
                <span class="label label-success" style="width:40%;">In Process</span>
                <span class="cd-date">
                </span>
            </div>
            <div class="cd-timeline-img cd-warning">
                <i class=""> 2</i>
            </div>
        </div> -->

    </div>
</main>


<script>

</script>

<%- include('footer.ejs') %>