<%- include('header.ejs') %>


    <main>

        <div class="w-75 m-auto row flex-wrap">

            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/tasks-created-by-ceo" style="text-decoration: none;">
                    <div class="" style="background-color: teal; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">Tasks Created By CEO</h4>
                            <% let countCEO = 0 %>
                            <% results.forEach(taskNumElement => {%>
                                <%if(taskNumElement.initiated_by === "CEO"){%>
                                    <%countCEO++%>
                                <%}%>
                           <% }) %>
                            <h1 class="text-center"> <%= countCEO %> </h1>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/completed-tasks" style="text-decoration: none;">
                    <div class="" style="background-color: #f05050 !important; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">Completed Tasks</h4>
                            <% let countCompletTask = 0 %>
                            <% results.forEach(taskNumElement => {%>
                                <%if(taskNumElement.currentStatus === "Complete"){%>
                                    <%countCompletTask++%>
                                <%}%>
                           <% }) %>
                           <h1 class="text-center"> <%= countCompletTask %> </h1>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/created-tasks" style="text-decoration: none;">
                    <div class="" style="background-color: #34d3eb !important; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">Created Tasks</h4>
                            <% let countCreatedTask = 0 %>
                            <% results.forEach(taskNumElement => {%>
                                    <%countCreatedTask++%>
                           <% }) %>
                            <h1 class="text-center"> <%=countCreatedTask%> </h1>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/in-process-tasks" style="text-decoration: none;">
                    <div class="" style="background-color: #81c868; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">In Process Tasks</h4>
                            <% let countInProcessTask = 0 %>
                            <% results.forEach(taskNumElement => {%>
                                <%if(taskNumElement.currentStatus === "In Process"){%>
                                    <%countInProcessTask++%>
                                <%}%>
                           <% }) %>
                            <h1 class="text-center"><%=countInProcessTask%></h1>
                        </div>
                    </div>
                </a>

            </div>
<!-- 
            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/forwarded-tasks" style="text-decoration: none;">
                    <div class="" style="background-color: #ffbd4a !important; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">Forwarded Tasks</h4>
                            <h1 class="text-center">0</h1>
                        </div>
                    </div>
                </a>

            </div> -->

            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/task-not-in-process-tasks" style="text-decoration: none;">
                    <div class="" style="background-color: #5d9cec !important; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">Tasks Not In Process</h4>
                            <% let countNotInProcessTask = 0 %>
                            <% results.forEach(taskNumElement => {%>
                                <%if(taskNumElement.currentStatus !== "In Process"){%>
                                    <%countNotInProcessTask++%>
                                <%}%>
                           <% }) %>
                            <h1 class="text-center"><%=countNotInProcessTask%></h1>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/delayed-tasks" style="text-decoration: none;">
                    <div class="" style="background-color: silver; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">Delayed Tasks</h4>
                            <% let currentDate = new Date(); %>
                            <% let countDelayedTask = 0; %>
                            <% results.forEach(taskNumElement => {%>
                                <% let taskDate = new Date(taskNumElement.date) %>
                                <%if(taskDate < currentDate){%>
                                    <%countDelayedTask++;%>
                                <%}%>
                           <% }) %>
                            <h1 class="text-center"><%=countDelayedTask%></h1>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-6 col-sm-6 col-lg-4 pt-3">

                <a class="" href="/organization/<%=title%>/tasks/tota-urgent-task" style="text-decoration: none;">
                    <div class="" style="background-color: #5d5d55; border-radius: 5px;">
                        <div class="text-white">
                            <h4 class="ms-1">Total Urgent Tasks</h4>
                            <% let countUrgentTask = 0 %>
                            <% results.forEach(taskNumElement => {%>
                                <%if(taskNumElement.taskType === "Urgent"){%>
                                    <%countUrgentTask++%>
                                <%}%>
                           <% }) %>
                            <h1 class="text-center"><%=countUrgentTask%></h1>
                        </div>
                    </div>
                </a>

            </div>
        </div>


    </main>
    


 





    <%- include('footer.ejs') %>